.temoignages-bg{
    background-color: rgb(206, 216, 202);
    
}

.infos-temoignages ul{
    // display: flex;
    // list-style: none;
    // justify-content: space-between;
// font-size: 1.5rem;
// text-align: center;
// margin-bottom: 0;
// font-family: 'Arial';
// color: #000;
    
}

.infos-temoignages ul a{
    color: #000;
}
// .infos-temoignages img{
//     padding-bottom: 10px;
//  margin-left: auto;
//  margin-right: auto;
// }
.temoignages-content {
    font-family: 'Arial';
    color:#000;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}
.temoignages h1 {
    text-align: center;
}
